name: CI/CD Infrasctrucure Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login no Azure com Service Principal
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Criar/Atualizar Infraestrutura
        run: |
          chmod +x infra/main.sh
          ./xxxxxxxxinfra/main.sh

      - name: Deploy da Aplicação
        run: |
          chmod +x app/deploy.sh
          ./xxxxxxxapp/deploy.sh
